<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-inicio.css">
    <title>Inicio</title>
</head>
<body>
    <h1>Bem vindo</h1>
    <div class="button-container">
        <button class="btn-grande" onclick="window.location.href='/pizzaria'">Pizzaria</button>
        <button class="btn-grande" onclick="window.location.href='/calc_imc'">Calcular IMC</button>
    </div>
    <footer>
        Todos os direitos reservados. TEC Desenvolvimento LTDA &copy; <script>document.write(new Date().getFullYear());</script>
    </footer>
</body>
</html>