<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-pizzaria.css">
    <title>Pizzaria Potiguar</title>
</head>

<body>
    <header>
        <img src="../static/img/pizza-capa.jpg" alt="pizza">
    </header>
    <nav>
            <a href="{{url_for('pizzaria')}}">Início</a>
            <a href="{{url_for('fazer_pedido')}}">Fazer Pedido</a>
        </nav>

    {% block conteudo %}
    {% endblock %}

</body>

</html>