{% extends "modelo.html" %}

{% block conteudo %}

<div class="container">
    <h1>Bem-vindo à Pizzaria Potiguar!</h1>
    <p>Há <strong>6 anos</strong>, a <strong>Pizzaria Potiguar</strong> traz o melhor da culinária natalense com pizzas de qualidade, feitas com ingredientes frescos e selecionados. Localizada em <strong>Natal, RN</strong>, nossa missão é oferecer uma experiência única e saborosa para cada cliente, seja no restaurante ou delivery.</p>
    <p>Com um cardápio variado e receitas exclusivas, somos a escolha certa para quem busca sabor, qualidade e o verdadeiro espírito potiguar em cada fatia!</p>
</div>

{% endblock %}